In [2]:
import pandas as pd

print(pd.__version__)

2.2.3

## Charger les données dans un DataFrame

In [4]:
df = pd.read_csv('sales.csv')
df

      Produit  Quantité  Prix
0  Ordinateur        10  8000
1   Téléphone        50  3000
2  Imprimante         5  1500
3    Tablette        20  2000
4      Casque        30   500

## Calculer le revenu total par produit

In [23]:
df['Revenu'] = df['Quantité'] * df['Prix']
resultats = df.groupby('Produit')['Revenu'].sum().reset_index()
resultats

      Produit  Revenu
0      Casque   15000
1  Imprimante    7500
2  Ordinateur   80000
3    Tablette   40000
4   Téléphone  150000

### Ajouter les quantités vendues et identifier le plus vendu

In [25]:
quantites = df.groupby('Produit')['Quantité'].sum()
max_quantite = quantites.max()
resultats['Est_Plus_Vendu'] = ['Oui' if q == max_quantite else 'Non' 
                              for q in quantites]
resultats

      Produit  Revenu Est_Plus_Vendu
0      Casque   15000            Non
1  Imprimante    7500            Non
2  Ordinateur   80000            Non
3    Tablette   40000            Non
4   Téléphone  150000            Oui

### Ajouter l'indicateur pour revenu > 1000

In [26]:
seuil_revenu = 1000
resultats['Revenu_Superieur_1000'] = ['Oui' if rev > seuil_revenu else 'Non' 
                                     for rev in resultats['Revenu']]
resultats

      Produit  Revenu Est_Plus_Vendu Revenu_Superieur_1000
0      Casque   15000            Non                   Oui
1  Imprimante    7500            Non                   Oui
2  Ordinateur   80000            Non                   Oui
3    Tablette   40000            Non                   Oui
4   Téléphone  150000            Oui                   Oui

### Sauvegarder les résultats

In [27]:
resultats.to_csv('sales_report.csv', index=False)